```gitignore
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

hs_err_pid*
replay_pid*

target/
build/
out/
bin/

.gradle/
!gradle/wrapper/gradle-wrapper.jar

.mvn/
dependency-reduced-pom.xml

.vscode/

nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

Thumbs.db
Desktop.ini

*~

*.log

*.tmp
*.temp
*.swp
*.swo
```
